@CHARSET "UTF-8";

.gallery_box {
	position: relative;
	margin-bottom: 2% !important;
}

.gallery_box a {
	color: #eee;
}

.gallery_picture {
	margin: 10px 0;
}

.gallery_picture img {
	border: 1px solid #eee;
}

.gallery_infobox,
.gallery_titlebox {
	margin: 0 10px;
	position: absolute;
	left: 0;
	text-shadow: black 0.2em 0.2em 0.4em;
}

.gallery_titlebox {
	top: 10px;
	overflow: hidden;
}

.gallery_titlebox h4 {
	padding: 0;
	margin: 0
}

.gallery_infobox {
	bottom: 10px;
	font-size: 90%;
}

.gallery_infobox span.label {

}

.gallery_infobox span.data {

}

.gallery_preview {
	display: block;
	width: 100%;
	height: 150px;
	background-position: 50% 50%;
	background-size: 100% Auto;
	border: 1px solid #eee;
}

.gallery_rnd_box {
	position: relative;
}

.gallery_rnd_infobox {
	margin: 0 10px;
	position: absolute;
	left: 0;
	bottom: 10px;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.gallery_imgurl span {
	display: block;
}

.gallery_imgurl span,.gallery_imgurl input {
	width: 100%;
}

.gallery_imgurl input {
	background-color: #ccc;
}

.gallery_picturedata td.desc {
	width: 150px;
}